<header class="w-full py-4 px-4 bg-white">
    <div class="max-w-6xl mx-auto flex justify-between items-center">
        <div class="image"><img src="images/ioato.png" alt="logo" class="h-8 w-auto"></div>
        
        <div class="font-medium tracking-tight">
            Ostéopathie animale
        </div>

        <a href="/contact" class="text-sm px-4 py-2 rounded-full bg-[#ffc001] text-white hover:bg-[#ff9933] transition">
            Contact
        </a>
    </div>
</header>