---
import "../styles/style.css";
import "../styles/paws.css";
import Header from "../components/Header.astro";

interface Props {
  lang: "fr" | "en";
}

const { lang } = Astro.props as Props;
---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Ostéopathe animale à Betbèze (65)</title>
    <script>import "../scripts/sectionPaws.js";</script>
  </head>

  <body class="bg-[#ff9933] text-[#2b2118] antialiased">
    <Header lang={lang} />
    <slot/>
  </body>
</html>